<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1x2">
      <header class="block__header hero__content">
        <h1 class="block__heading">Breakfast that made with ❤️</h1>
        <p class="hero__tagline">Order your Breakfast now in few seconds</p>
        <a href="" class="btn btn--accent btn--stretched">get started</a>
      </header>
      <!-- Image optimization (WEBP) technique is used... But it doesnt mean for me 🤷‍♂️ -->
      <picture>
        <source type="image/png" srcset="/images/khari.png 1x,/images/khari@2x.png">
        
      <img src="/images/khari.png" alt="" class="hero__image" >
      </picture>

    </div>
  </section>