<section class="block container">
    <header class="block__header">
      <h2>Itna Asaan kaam Nhi hota..sab sikhana padega</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, assumenda.</p>
    </header>
          <article class="grid grid--1x2 feature">
            <div class="feature__content">
              <span class="icon-container">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
              </span>
              <h3 class="feature__heading">Super Easy to Use</h3>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem tenetur amet mollitia architecto quae quidem illo culpa consequuntur eaque cupiditate.</p>
              <a href="#" class="link-arrow">Learn More</a>
            </div>
            <picture>
              <!-- <source type="image/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x">FIXME:Pta nhi kyu kaam nhi kr ra hai -->
              <img src="images/easy.jpg" alt="Easy Logo" class="feature__image">  
            </picture>
          </article>
    
          <article class="grid grid--1x2 feature">
            <div class="feature__content">
              <span class="icon-container">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
              </span>
              <h3 class="feature__heading">Super Easy to Use</h3>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem tenetur amet mollitia architecto quae quidem illo culpa consequuntur eaque cupiditate.</p>
              <a href="#" class="link-arrow">Learn More</a>
            </div>
            <picture>
              <!-- <source type="image/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x">FIXME:Pta nhi kyu kaam nhi kr ra hai -->
              <img src="images/easy.jpg" alt="Easy Logo" class="feature__image">  
            </picture>
          </article>
    
          <article class="grid grid--1x2 feature">
            <div class="feature__content">
              <span class="icon-container">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
              </span>
              <h3 class="feature__heading">Super Easy to Use</h3>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem tenetur amet mollitia architecto quae quidem illo culpa consequuntur eaque cupiditate.</p>
              <a href="#" class="link-arrow">Learn More</a>
            </div>
            <picture>
              <!-- <source type="image/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x">FIXME:Pta nhi kyu kaam nhi kr ra hai -->
              <img src="images/easy.jpg" alt="Easy Logo" class="feature__image">  
            </picture>
          </article>
        </section>