<nav class="nav collapsible">
    <a href="/"
      ><h3>Abu-Bakers</h3>
      <!-- Instead of name we can use Logo -->
    </a>
    <svg class="icon icon--white nav__toggler">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">Khari</a></li>
      <li class="nav__item"><a href="#">Butter</a></li>
      <li class="nav__item"><a href="#">Toast</a></li>
      <li class="nav__item"><a href="#">Farsaan</a></li>
    </ul>
  </nav>