<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, voluptate officiis corporis eius debitis reiciendis eveniet quam minima dolorum rem error at placeat illum nostrum.</p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Jhon Doe</h3>
          <p class="quote__organization">
            Pta nhi kon hai 
          </p>
        </div>
      </div>
    </footer>
  </blockquote>