<section class="block container block-domain">
    <header class="block__header">
      <h2>First Delivery is almost Free</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque
        laborum alias fuga expedita deleniti pariatur error exercitationem
        odio delectus rem!
      </p>
    </header>

    <div class="input-group">
      <input
        type="text"
        class="input"
        placeholder="Search your breakfast here..."
      />
      <button class="btn btn--accent">
        <svg class="icon icon--primary ">
          <use xlink:href="images/sprite.svg#search"></use>
          </svg>Search
      </button>
    </div>
    <div >
      <h4 class="block__paragraph" >Most popular Search :</h4>
      <ul class="list block-domain__prices">
        <li><a href="#">Maska Khari</a></li>
        <li><a href="#">Tea Butter</a></li>
        <li><a href="#">Till Toast</a></li>
        <li><a href="#">Zeera Naand</a></li>
        <li><a href="#">Amul Butter</a></li>
        <li><a href="#">JK Khari</a></li>
      </ul>
    </div>
  </section>